/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.fullscreen-item {
  margin-top: -20px;
  position: relative;
  max-height: 316px;
  overflow: hidden;
  margin-bottom: 60px;
}

.fullscreen-item img{
  width: 100%;
}
.fullscreen-item .carousel-caption{
  top:30px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.carousel-caption {
  text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
/* MARKETING CONTENT
-------------------------------------------------- */
#main_carousel {
  margin-top: -20px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


pre {
  background-color: #fff;
  display: block;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 0px;
  border-radius: 0px;
}

