---
title: Index
active_menu: Docs
active_docs_menu: Get started
---
<section>
	<h1>Get started</h1>

	<h2>1. Installation</h2>

	<pre><code class="javascript">npm install amoeba.io</code></pre>

	<h2>2. Configure</h2>
	<p>Configuration occurs via "add" method</p>
	<pre><code class="javascript">amoeba.add([route,] object [,callback])</code></pre>
	<p>route - path refers to an object</p>
	<p>object - can be both client and server. If route params exists (string) it will be client otherwise server</p>
	<p>callback - function that will be called when server or client is ready for use or error happens</p>
	<p>Example:</p>
	<pre><code class="javascript">amoeba.add("chat", new LocalService(new Chat()), function(err){
	if(!err){
		//Client ready
		amoeba.add(new SocketServer("8081"), function(err){
			if(!err){
				//Server ready
			}
		});
	}
});</code></pre>

	<h2>3. Usage</h2>
<p>Amoeba has next methods</p>

amoeba
------
public function
add
use

_private function
on
emit

proxy
-----
invoke

on
once
off

handler


	<h3>Masks</h3>
	<p>You can use mask when call use method in Amoeba. For example if you add your service next way</p>
	<pre><code class="javascript">amoeba.add("chat.*", new LocalService(new Chat()))</code></pre>
	all "invoke" calls start with "chat." will be routed to chat local service
	<pre><code class="javascript">amoeba.use("chat.room.6").invoke("add", {message: "Hello world"})</code></pre>
	You can not call "invoke" using mask
	<pre><code class="javascript">amoeba.use("chat.*").invoke("add", {message: "Hello world"}); //ERROR HERE</code></pre>
	But you can call "on" using mask
	<pre><code class="javascript">amoeba.use("chat.*").on("add", function(event, data){});
//THE SAME AS
amoeba.on("add:chat.*", function(event, data){});</code></pre>
	<p>It means that all "add" events in all services started with "chat" will call your function. </p>
	<pre><code class="javascript">chat
chat.rooms
chat.rooms.1
chat.rooms.2
chat.very.long.path
chat.etc
</code></pre>
	<p class="text-danger">Event name can use period "." but can`t colon ":"</p>


obj.on('event.mask', handler, callback_with_id);
once();
off(id);
obj.emit('event.without.mask', event_data);


</section>