---
title: Index
active_menu: Docs
active_docs_menu: Get started
---
<section>
	<h1>Get started</h1>
	<h2>Simple socket client-server application</h2>
	<h3>Server</h3>
	1. Install amoeba and modules
	<pre><code class="bash">npm install amoeba.io amoeba.io-local-client amoeba.io-socket-server</code></pre>
	2. Create server.js
	<pre><code class="javascript">var Amoeba = require("amoeba.io");
var LocalClient = require("amoeba.io-local-client");
var SocketServer = require("amoeba.io-socket-server");

var amoeba = new Amoeba();
amoeba.path("chat").as(new LocalClient({
    test: function(param, callback) {
    	callback(null, "complete");
    }
}));
new SocketServer(amoeba, {
    port: "8090"
});</code></pre>
	3. Run server
	<pre><code class="bash">node server</code></pre>

	<h3>Browser client</h3>
	1. Download 
	<pre><code class="bash">bower install amoeba.io amoeba.io-socket-client</code></pre>
	or
	<pre><code class="bash">npm install amoeba.io amoeba.io-socket-client</code></pre>
	2. Create index.html
	<pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
    &lt;title&gt;Client&lt;/title&gt;
    &lt;script type="text/javascript" src="bower_components/amoeba.io/build/amoeba.io.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="bower_components/amoeba.io-socket-client/build/amoeba.io-socket-client.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    var amoeba = new Amoeba();
    amoeba.path("chat").as(new SocketClient({
        url: "http://localhost:8090"
    }), function(err) {
        if (!err) {
            //client connected
            amoeba.path("chat").invoke('test', { //call test
                hey: "test"
            }, function(err, result) { //get result
                console.log(result);
            });
        }
    });
    &lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;

&lt;/body&gt;

&lt;/html&gt;</code></pre>
	3. Open in browser


</section>