---
title: Index
active_menu: Docs
active_docs_menu: About
---
<section>
	<h1>What is amoeba?</h1>
	<p>Amoeba is a platform for making Request/Response/Event-based services. Architecture of amoeba let to make easy scalable, discributed services.</p>
	<h2>How it works?</h2>
	<p>Amoeba is a service storage and it can be both the client and the server.</p>
	<p>When you call some method from amoeba service you don`t know local this service or remote. It even can be chain of remote services.<p>
	<p>You can use amoeba like single unit with single service</p>
	<img src="img/amoeba-single.png">
	<p>Also you can use amoeba like distributed services</p>
	<img src="img/amoeba-double.png" style="width:100%">
	<p>Even you can use amoeba like chain of remote services</p>
	<img src="img/amoeba-triple.png" style="width:100%">

</section>