---
title: Chat demo
active_menu: Demo
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat window</h3>
  </div>
  <div class="panel-body">
    Chat content
  </div>
</div>

<h2>chat.html</h2>

<h2>server.js</h2>