---
title: Invoke method
active_menu: Docs
---
<section>
	<pre>
		amoeba.use(path).invoke(method, [params, callback]);
	</pre>
	<h2>Method</h2>
	<h2>Params</h2>
    <h3>Call invoke without params</h3>
    <h3>Call invoke with single param</h3>
    <h3>Call invoke with multiple param</h3>
	
	<h2>Callback function</h2>
    
    <pre></pre>
    <h2></h2>
</section>