---
layout: core.hbs
title: Index
---
<div class="container-fluid">
	<div class="row">
        <div class="fullscreen-item">
          <img src="img/art6.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Amoeba can do everything</h1>
              <p>Well, almost everything. Except buying a beer and other 123 394 847 things</p>
              <p><a class="btn btn-lg btn-primary" href="docs_get_started.html" role="button">Get started</a></p>
            </div>
          </div>
        </div>
	</div>
</div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
      <div class="row featurette">
        <div class="col-sm-2 hidden-xs">
        	<span class="octicon octicon-big octicon-zap"></span>
<!--           <img class="featurette-image img-responsive" src="img/adv1.png" alt="Generic placeholder image"> -->
        </div>
        <div class="col-sm-10">
          <h2 class="featurette-heading">Realtime events</h2>
          <p class="lead">Revolutionary architecture allows to use the application on full power
          <p><a href="#" class="btn btn-default">Read more</a></p>
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-2 hidden-xs">
			<span class="octicon octicon-big octicon-repo-forked"></span>
          <!-- <img class="featurette-image img-responsive" src="img/adv2.png" alt="Generic placeholder image"> -->
        </div>
        <div class="col-sm-10">
          <h2 class="featurette-heading">Easy scalable</h2>
          <p class="lead">Vertical and horizontal scaling has never been so easy</p>
          <p><a href="#" class="btn btn-default">Read more</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-2 hidden-xs">
        	<span class="octicon octicon-big octicon-eye"></span>
<!--           <img class="featurette-image img-responsive"  src="img/adv3.png" alt="Generic placeholder image"> -->
        </div>
        <div class="col-sm-10">
          <h2 class="featurette-heading">Security and Control</h2>
          <p class="lead">You can control the application at any level</p>
          <p><a href="#" class="btn btn-default">Read more</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->