---
layout: core.hbs
title: Index
---
<div class="container-fluid">
	<div class="row">
        <div class="fullscreen-item">
          <img src="img/art3.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Amoeba can do anything</h1>
              <p>Well, almost anything. Except to buy me a beer and other 123 394 847 things</p>
              <p><a class="btn btn-lg btn-primary" href="docs_get_started.html" role="button">Get started</a></p>
            </div>
          </div>
        </div>
	</div>
</div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Realtime events</h2>
          <p class="lead">Revolutionary architecture allows to use your web application on full power. Not only request-response. But and events generated on server side.
          <br>
          <a href="#" class="btn btn-default">Read more</a>
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/events.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/scalable2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Easy scalable</h2>
          <p class="lead">Vertical and horizontal scalable has never been so easy</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Security</h2>
          <p class="lead">You can control the application at any level</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive"  src="img/security.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->