---
layout: core.hbs
title: Index
---
<div class="container-fluid">
	<div class="row">
        <div class="fullscreen-item">
          <img src="img/art6.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Request/Responce/Event communication system</h1>
              <p><a class="btn btn-lg btn-primary" href="docs_get_started.html" role="button">Get started</a></p>
            </div>
          </div>
        </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"><h2>Server</h2>
  <pre><code class="javascript">var Amoeba = require("amoeba.io");
var AmoebaLocalClient = require("amoeba.io-local-client");
var AmoebaSocketServer = require("amoeba.io-socket-server");

function Cube() {}

Cube.prototype.move = function(x, y) {
    this.emit("moved", {
        x: x,
        y: y
    });
};

var amoeba = new Amoeba();
amoeba.path("cube").as(new AmoebaLocalClient(new Cube()));

new AmoebaSocketServer(amoeba, {
    port: "8092"
});</code></pre>
    </div>
    <div class="col-md-6"><h2>Client</h2>
    <pre><code class="javascript">var amoeba = new Amoeba();
amoeba.path("cube").as(new SocketClient({
    url: "http://localhost:8092"
}), function(err, result) {
    if (err) return; //eror here
    //listen event "moved"
    amoeba.path("cube").on("moved", function(data, event, path) {
        $('.cube').css({
            "top": data.y,
            "left": data.x
        });
    });
    // set cube draggable
    $(".cube").draggable({
        drag: function(event, ui) {
            var pos = ui.position;
            amoeba.path("cube").invoke('move', pos.left, pos.top);
        }
    });
});</code></pre>
    </div>
  </div>
  <h2>Result</h2>
  <div class="row well" style="height:300px; position: relative;">
      <div class="cube" style="width: 100px;height: 100px;position: relative;background-color: orange;"></div>
  </div>
  <script type="text/javascript">
$(document).ready(function(){
var amoeba = new Amoeba();
amoeba.path("cube").as(new SocketClient({
    url: "http://incakit.com:8092"
}), function(err, result) {
    if (err) {
        //eror here
        return;
    }
    
    //listen event "moved"
    amoeba.path("cube").on("moved", function(data, event, path) {
        $('.cube').css({
            "top": data.y,
            "left": data.x
        });
    });
    
    // set cube draggable
    $(".cube").draggable({
        containment: "parent",
        drag: function(event, ui) {
            var pos = ui.position;
            amoeba.path("cube").invoke('move', pos.left, pos.top);
        }
    });

});  
});
  </script>
</div>